---
import type { CollectionEntry } from "astro:content";
import WorkCard from "./WorkCard.astro";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="works-slider swiper h-120 sm:h-85">
  <div class="swiper-wrapper">
    {
      projects.map((project) => (
        <div class="swiper-slide h-full rounded-xxl shadow-lg shadow-black/5">
          <WorkCard project={project} />
        </div>
      ))
    }
  </div>
</div>

<script>
  import Swiper from "swiper";
  import { EffectCards, Keyboard, Mousewheel } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/effect-cards";

  const el = document.querySelector<HTMLElement>(".works-slider");
  if (el) {
    new Swiper(el, {
      modules: [EffectCards, Keyboard, Mousewheel],
      effect: "cards",
      grabCursor: true,
      keyboard: { enabled: true },
      mousewheel: { enabled: true, forceToAxis: true },
      cardsEffect: {
        slideShadows: false,
        perSlideOffset: 10,
        perSlideRotate: 3,
      },
    });
  }
</script>
